<div class="m-menu-customer">
  <div class="m-menu-customer__language-currency">
    {% if shop.customer_accounts_enabled or shop.customer_accounts_optional %}
      <a href="{{ customer | default: false | ternary: routes.account_url, routes.account_login_url }}" class="m-menu-customer__account">
        {% render 'header-icon', icon_type: 'account', icon_name: section.settings.account_icon_type, class: 'm-svg-icon--medium' %}
        <span>{{ 'customer.account.title' | t }}</span>
      </a>
    {% endif %}
    {%- liquid
      if section.settings.mb_show_country_selector
        render 'country-selector', box_size: '', pos: 'top'
      endif
      if section.settings.mb_show_currency_switcher
        render 'currency-switcher', box_size: '', pos: 'top'
      endif
      if section.settings.mb_show_language_switcher
        render 'language-switcher', box_size: '', pos: 'top'
      endif
    -%}
  </div>
</div>
